.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*-------Game Title-------*/
.gameTitle {
  text-align:center;
  font-size:200%;
}

.chooseWeapon {
  text-align:center;
  font-size:150%;
}

.rpsls{
  text-align:center;
  font-size:110%;
}

.bang{
  color:#D40000;
  text-shadow:1px 1px black;
  font-size:180%;
}

/*------Image Size---------*/
html,body {
  width:100%;
  height:100%;
  background-color:#E5AE00;
}

.imageSection{
  width:100%;
  margin:0 auto;
  text-align:center;
}

.imageSize {
  /*width:150px;*/
  width:10%;
  margin:3%;
  border-radius:50%;
}

.imageSize:hover {
  box-shadow: 0 0 100px white;
}

.imageSize:hover {
  cursor: pointer;
}

/*------Game Section------*/
.gameSection {
  width:100%;
  margin:0 auto;
  text-align:center;
}

.game {
  /*width:45%;*/
  margin:0 auto;
  display:inline;
}

.imageSizeDiv1 {
  width:10%;
  height:70%;
  border-radius:50%;
  border:2px solid white;
}

.gameSection p {
  display:inline;
  padding:4%;
}


.imageSizeDiv2 {
  width:10%;
  height:70%;
  border-radius:50%;
  border:2px solid white;
}

/*------Score Section--------*/
.scoreSection{
  text-align:center;
  padding-top:1%;
  font-size:120%;
}

/*-----Bazinga--------*/
.bazinga {
  position:absolute;
  width:13%;
  left:44%;
  display:none;
}

.displayIt {
  display:inline;
}

/*----Reset It--------*/
.resetIt{
  border:2px solid red;
  border-radius:0;
  font-size:120%;
  display:block;
  margin:0 auto;
  margin-top:1%;
  width:auto;
}

.resetDiv{
  width:100%;
}

.winningStatement{
  display:block;
  font-size:150%;
  color:white;
  text-shadow:1px 1px black;
}

/*------Media Queries------*/

@media screen and (max-width: 599px) and (min-width:450px){
  .imageSize {
    /*width:150px;*/
    width:17%;
    margin:3%;
    border-radius:50%;
  }

}

@media screen and (max-width: 449px){
  .imageSize {
    /*width:150px;*/
    width:20%;
    margin:3%;
    border-radius:50%;
  }

  .gameTitle {
    text-align:center;
    font-size:150%;
  }

  .chooseWeapon {
    text-align:center;
    font-size:120%;
  }

  .rpsls{
    text-align:center;
    font-size:100%;
  }

  .bang{
    color:#D40000;
    text-shadow:1px 1px black;
    font-size:150%;
  }

  .imageSizeDiv1 {
    width:18%;
    height:70%;
    border-radius:50%;
    border:2px solid white;
  }

  .imageSizeDiv2 {
    width:18%;
    height:70%;
    border-radius:50%;
    border:2px solid white;
  }

  .bazinga {
    position:absolute;
    width:18%;
    left:42%;
    display:none;
  }

  .displayIt {
    display:inline;
  }

  .resetIt{
    font-size:80%;
  }

  .winningStatement{
    font-size:110%;
  }

}